git/gitconfig.symlink
symlinks/appcode/options/usage.statistics.xml
symlinks/appcode/options/statistics.application.usages.xml
symlinks/appcode/options/feature.usage.statistics.xml
symlinks/appcode/options/find.xml
symlinks/appcode/options/recentProjectDirectories.xml

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom
*.cache
*.last-run
fish_history
fishd.*

# Sublime Text
Package Control.last-run
Package Control.cache/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
