<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>me.waldowski.tools.unit.framework_macOS</string>
    <key>Ancestors</key>
    <array>
        <string>me.waldowski.tools.unit.framework.base</string>
        <string>com.apple.dt.unit.osxBase_Definitions</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
    </array>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.macosx</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>me.waldowski.tools.framework.target_macOS</string>
            <key>SharedSettings</key>
            <dict>
                <key>SDKROOT</key>
                <string>macosx</string>
                <key>MACOSX_DEPLOYMENT_TARGET</key>
                <string>latest_macosx</string>
                <key>CODE_SIGN_IDENTITY</key>
                <string>-</string>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>FRAMEWORK_VERSION</key>
                <string>A</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/../Frameworks @loader_path/Frameworks</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>hasUnitTests</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework.tests_macOS</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___Tests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
