<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.crossPlatformFramework</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.base</string>
        <string>com.apple.dt.unit.languageChoice</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Project</key>
    <dict>
        <key>SharedSettings</key>
        <dict>
            <key>VERSIONING_SYSTEM</key>
            <string>apple-generic</string>
            <key>CURRENT_PROJECT_VERSION</key>
            <string>1</string>
            <key>VERSION_INFO_PREFIX</key>
            <string></string>
        </dict>
    </dict>
    <key>Components</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>me.waldowski.tools.unit.framework_shared</string>
            <key>Name</key>
            <string>Sources</string>
        </dict>
    </array>
    <key>SuppressTopLevelGroup</key>
    <true/>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>macOSPlatform</string>
            <key>Name</key>
            <string>macOS</string>
            <key>NotPersisted</key>
            <false/>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework_macOS</string>
                            <key>Name</key>
                            <string>___VARIABLE_productName___</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>iOSPlatform</string>
            <key>Name</key>
            <string>iOS</string>
            <key>NotPersisted</key>
            <false/>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework_iOS</string>
                            <key>Name</key>
                            <string>Mobile___VARIABLE_productName___</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>tvOSPlatform</string>
            <key>Name</key>
            <string>tvOS</string>
            <key>NotPersisted</key>
            <false/>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework_tvOS</string>
                            <key>Name</key>
                            <string>TV___VARIABLE_productName___</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>watchOSPlatform</string>
            <key>Name</key>
            <string>watchOS</string>
            <key>NotPersisted</key>
            <false/>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework_watchOS</string>
                            <key>Name</key>
                            <string>Nano___VARIABLE_productName___</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUnitTests</string>
            <key>Name</key>
            <string>Include Unit Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>me.waldowski.tools.unit.framework.tests_shared</string>
                            <key>Name</key>
                            <string>Tests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
