# Basic
[alias]
	co = checkout
[commit]
	gpgsign = true
[core]
	attributesfile = ~/.dotfiles/git/attributes
	editor = zed -w
	excludesfile = ~/.dotfiles/git/ignore
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	twohead = ort
[push]
	default = simple
[user]
	name = Zachary Waldowski
	email = zach@waldowski.me

# Colorization
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
	pager = true
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[format]
	pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

# Tooling
[diff]
	algorithm = histogram
	tool = code
[diff "kotlin"]
	xfuncname = ((fun|class|enum|object)\\s+.*)$
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[diff "swift"]
	xfuncname = "^[ \\t]*((\\w+ +)*((class|struct|enum|actor|protocol|extension|func) +|(de?)init\\b).+)$"
[difftool]
	prompt = false
	tool = zed
[difftool "code"]
    cmd = "code --wait --diff \"$LOCAL\" \"$REMOTE\""
[difftool "Kaleidoscope"]
	cmd = "ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\""
[difftool "zed"]
	cmd = "zed --wait --diff \"$LOCAL\" \"$REMOTE\""
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.dotfiles/git/allowed_signers
[merge]
	tool = zed
[merge "kintsugi"]
	name = Kintsugi driver
	driver = kintsugi driver %O %A %B %P
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "code"]
	cmd = "code --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\""
[mergetool "Kaleidoscope"]
	cmd = "ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\""
[mergetool "zed"]
  cmd = "code --wait \"$MERGED\""
