# Basic
[alias]
	co = checkout
[user]
	name = Zachary Waldowski
	email = zach@waldowski.me
[core]
	attributesfile = ~/.dotfiles/git/attributes
	editor = open -W -b com.microsoft.VSCode
	excludesfile = ~/.dotfiles/git/ignore
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	default = simple

# Colorization
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
	pager = true
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[format]
	pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

# Tooling
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[diff]
	algorithm = histogram
	tool = Kaleidoscope
[diff "swift"]
	xfuncname = "^[ \\t]*((\\w+ +)*((class|struct|enum|actor|protocol|extension|func) +|(de?)init\\b).+)$"
[diff "kotlin"]
	xfuncname = ((fun|class|enum|object)\\s+.*)$
[merge "kintsugi"]
	name = Kintsugi driver
	driver = kintsugi driver %O %A %B %P
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
	prompt = false
[web]
	browser = open
[init]
	defaultBranch = main
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
