[hub]
        protocol = https
[user]
        name = Zachary Waldowski
        email = zach@waldowski.me
	signingkey = 8F2E8CD3
[push]
        default = current
[credential]
        helper = osxkeychain
[alias]
        co = checkout
        count   = !git shortlog -sn
        pf = push --force-with-lease
[color]
        branch = auto
        diff = auto
        status = auto
        ui = auto
        pager = true
        interactive = auto
[format]
        pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s
[core]
        excludesfile = ~/.cider/git/ignore
        attributesfile = ~/.cider/git/attributes
        editor = subl -n -w
        autocrlf = input
        pager = less -r
        whitespace = space-before-tab,-indent-with-non-tab,trailing-space
        quotepath = false
        trustctime = false
[fetch]
        prune = true
[apply]
        whitespace = fix
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[hub]
        protocol = https
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[difftool "Kaleidoscope"]
        cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
        cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustExitCode = true
[diff]
        tool = Kaleidoscope
        renames = copies
[difftool]
        prompt = false
[merge]
        tool = Kaleidoscope
[mergetool]
        prompt = false
        keepBackup = false
[diff "localizablestrings"]
        textconv = "iconv -f utf-16 -t utf-8"
        binary = false
[url "git@github.com:"]
        insteadOf = "gh:"
        pushInsteadOf = "github:"
        pushInsteadOf = "git://github.com/"
[url "https://github.com/"]
        insteadOf = "github:"
[url "git@gist.github.com:"]
        insteadOf = "gst:"
        pushInsteadOf = "gist:"
        pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
        insteadOf = "gist:"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[commit]
	gpgsign = true
