<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>me.waldowski.tools.unit.framework.tests_shared</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.base</string>
        <string>com.apple.dt.unit.languageChoice</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:Identifier</string>
        <string>Info.plist:PlistVersion</string>
        <string>Info.plist:Executable</string>
        <string>Info.plist:BundleName</string>
        <string>Info.plist:DevelopmentRegion</string>
        <string>Info.plist:ProductVersion</string>
        <string>Info.plist:PackageType</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:PackageType</key>
        <string><![CDATA[<key>CFBundlePackageType</key>
<string>BNDL</string>
]]></string>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___VARIABLE_productName:RFC1034Identifier___Tests.m:comments</string>
                        <string>___VARIABLE_productName:RFC1034Identifier___Tests.m:imports</string>
                        <string>___VARIABLE_productName:RFC1034Identifier___Tests.m:interface(___VARIABLE_productName:RFC1034Identifier___Tests : XCTestCase)</string>
                        <string>___VARIABLE_productName:RFC1034Identifier___Tests.m:implementation</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___VARIABLE_productName:RFC1034Identifier___Tests.m</key>
                        <dict>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>me.waldowski.tools.framework.tests.target_iOS</string>
                                <string>me.waldowski.tools.framework.tests.target_watchOS</string>
                                <string>me.waldowski.tools.framework.tests.target_tvOS</string>
                                <string>me.waldowski.tools.framework.tests.target_macOS</string>
                            </array>
                        </dict>
                        <key>___VARIABLE_productName:RFC1034Identifier___Tests.m:imports</key>
                        <string>#import &lt;XCTest/XCTest.h&gt;
</string>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___VARIABLE_productName:identifier___.swift:comments</string>
                        <string>___VARIABLE_productName:identifier___.swift:imports</string>
                        <string>___VARIABLE_productName:identifier___.swift:implementation(___VARIABLE_productName:identifier___Tests: XCTestCase)</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___VARIABLE_productName:identifier___.swift</key>
                        <dict>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>me.waldowski.tools.framework.tests.target_iOS</string>
                                <string>me.waldowski.tools.framework.tests.target_watchOS</string>
                                <string>me.waldowski.tools.framework.tests.target_tvOS</string>
                                <string>me.waldowski.tools.framework.tests.target_macOS</string>
                            </array>
                        </dict>
                        <key>___VARIABLE_productName:identifier___.swift:imports</key>
                        <string>import XCTest
@testable import ___VARIABLE_productName:identifier___
</string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
